body.space {
	
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 550px;
	height: 550px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
	scale: 50%;
}

.planets {
	position: absolute;
	top: 10%;
	left: 10%;
}

.sun {
	width:20;
	height: 20;
}

/*KEYFRAME START*/
@keyframes move_mercury {
    0%{
        
        transform: rotate(0deg) translateX(250px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(250px) 


    }
}


/*KEYFRAME END*/
#mercury {
    top: 235px;
	left: 210px;
    animation: move_mercury 3.7s infinite linear;
}

/*KEYFRAME START*/
@keyframes move_venus {
    0%{
        
        transform: rotate(0deg) translateX(310px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(310px) 


    }
}


/*KEYFRAME END*/
#venus {
    top: 247px;
	left: 210px;
    animation: move_venus 3.9s infinite linear;
}

/*KEYFRAME START*/
@keyframes move_earth {
    0%{
        
        transform: rotate(0deg) translateX(390px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(390px) 


    }
}
/*KEYFRAME END*/
#earth {
	top: 280px;
	left: 210px;
	animation: move_earth 4.1s infinite linear;

}

/*KEYFRAME START*/
@keyframes move_mars {
    0%{
        
        transform: rotate(0deg) translateX(440px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(440px) 


    }
}
/*KEYFRAME END*/

#mars {
	top: 290px;
	left: 230px;
	animation: move_mars 4.3s infinite linear;
}

/*KEYFRAME START*/
@keyframes move_jupiter {
    0%{
        
        transform: rotate(0deg) translateX(485px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(485px) 


    }
}
/*KEYFRAME END*/

#jupiter {
	top: 300px;
	left: 245px;
	animation: move_jupiter 4.5s infinite linear;
}
	
/*KEYFRAME START*/
@keyframes move_saturn {
    0%{
        
        transform: rotate(0deg) translateX(650px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(650px) 


    }
}
/*KEYFRAME END*/

#saturn {
	top: 310px;
	left: 250px;
	animation: move_jupiter 4.7s infinite linear;
}
	
/*KEYFRAME START*/
@keyframes move_uranus {
    0%{
        
        transform: rotate(0deg) translateX(600px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(600px) 


    }
}
/*KEYFRAME END*/

#neptune {
	top: 310px;
	left: 250px;
	animation: move_uranus 4.9s infinite linear;
}
	
/*KEYFRAME START*/
@keyframes move_neptune {
    0%{
        
        transform: rotate(0deg) translateX(700px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(700px) 


    }
}
/*KEYFRAME END*/

#uranus {
	top: 310px;
	left: 250px;
	animation: move_neptune 5.1s infinite linear;
}

/*KEYFRAME START*/
@keyframes move_ufo {
    0%{
        
        transform: translateX(0px) 
    }
    25% {
        transform: translateY(510px) rotate(360deg) 
    }
    50% {
       
        transform: translate(575px, 510px)

    }
    75% {
        
        transform: translateX(575px) rotate(360deg) 

    }

    100%{
        
        transform: translateX(0px) 

    }
}


/*KEYFRAME END*/


#ufo {
    position: relative;
    top: -270px;
    left: -300px;
    width: 200px;
    height: 200px;
    
    background-image: url("assets anim/Sanic.png");
    background-size: cover;
    animation: move_ufo 1s infinite linear;
}
