body.space {
	
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 400px;
	height: 500px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	position: absolute;
	top: 10%;
	left: 10%;
}

/*KEYFRAME START*/
@keyframes move_mercury {
    0%{
        
        transform: translateX(0px) scale(10)

    }
    25% {
        transform: translateY(510px) 
    }
    50% {
       
        transform: translate(575px, 510px) 

    }
    75% {
        
        transform: translateX(575px) rotate(360deg) 

    }

    100%{
        
        transform: translateX(0px) 


    }
}


/*KEYFRAME END*/
