body.space {
	
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 450px;
	height: 500px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	position: absolute;
	top: 10%;
	left: 10%;
}

/*KEYFRAME START*/
@keyframes move_mercury {
    0%{
        
        transform: rotate(0deg) translateX(250px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(250px) 


    }
}


/*KEYFRAME END*/
#mercury {
    top: 235px;
	left: 210px;
    animation: move_mercury 3.7s infinite linear;
}

/*KEYFRAME START*/
@keyframes move_venus {
    0%{
        
        transform: rotate(0deg) translateX(320px) 

    }
    100%{
        
        transform: rotate(360deg) translateX(320px) 


    }
}


/*KEYFRAME END*/
#venus {
    top: 247px;
	left: 210px;
    animation: move_venus 4s infinite linear;
}